.mainPage {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.leftSection {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.insideSection {
  width: 60%;
  justify-content: space-between;
  align-items: start;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.heading1 {
  font-family: Inter;
  font-size: 30px;
  font-weight: 700;
  line-height: 10px;
  text-align: left;
  color: #0a0a0a9e;
}

span {
  color: #6b7280;
}

p {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #8c57ff;
}

.rightSection {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8c57ff17;
}

.rightSection img {
  width: 50%;
  height: 50%;
}

.emailTextbox {
  width: 345px;
  height: 45px;
  border: 1px solid #e2e2e2;
  border-radius: 6px;
  padding-left: 10px;
}

.emailTextbox ::placeholder {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #757575;
}

button {
  width: 356px;
  height: 45px;
  background-color: #8c57ff;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  color: #ffff;
  border-radius: 6px;
  border: 1px solid #e2e2e2;
  margin-top: 10px;
  margin-bottom: 20px;
}

.termsAck {
  font-family: Inter;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  color: #0000006e;
  width: 350px;
}
